.fondonosotros {
    background-image: linear-gradient(120deg, gold, orange, orangered);
}

.nosotros {
    padding: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(120deg, gold, orange, orangered);

    &__texto {
        @extend .nosotros;
        font-size: 30px;
    }
}



.img__clientes {
    padding-top: 100px;
    position: relative;
    display: inline-block;
    align-items: center;
    margin: 0;
    transform: translate(100px, -100px);
}